{% load static %}

<script src="https://appsrv1-147a1.kxcdn.com/argon-dashboard/vendor/jquery/dist/jquery.min.js"></script>
<script src="https://appsrv1-147a1.kxcdn.com/argon-dashboard/vendor/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://appsrv1-147a1.kxcdn.com/argon-dashboard/vendor/jquery-scroll-lock/dist/jquery-scrollLock.min.js"></script>

<script src="https://appsrv1-147a1.kxcdn.com/argon-dashboard/vendor/chart.js/dist/Chart.min.js"></script>
<script src="https://appsrv1-147a1.kxcdn.com/argon-dashboard/vendor/chart.js/dist/Chart.extension.js"></script>

<script src="https://appsrv1-147a1.kxcdn.com/argon-dashboard/vendor/js-cookie/js.cookie.js"></script>
<script src="https://appsrv1-147a1.kxcdn.com/argon-dashboard/vendor/jquery.scrollbar/jquery.scrollbar.min.js"></script>

<script src="https://appsrv1-147a1.kxcdn.com/django-argon-charts/vendor/notyf/notyf.min.js"></script>
<script src="https://appsrv1-147a1.kxcdn.com/django-argon-charts/vendor/js-cookie/js.cookie.js"></script>

<script src="https://appsrv1-147a1.kxcdn.com/argon-dashboard/js/argon.js?v=1.2.0"></script>

<script src="https://appsrv1-147a1.kxcdn.com/django-argon-charts/orders_assets/js/notify.js"></script>
<script src="https://appsrv1-147a1.kxcdn.com/django-argon-charts/orders_assets/js/order_script.js"></script>

<script>
    {% if messages %}
        {% for message in messages %}
            notification['{{ message.tags }}']("<p>" + '{{ message|capfirst }}' + "</p>");
        {% endfor %}
    {% endif %}
</script>